[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
torch = "1.5.0"
torchvision = "0.6.0"
minerl = "*"

[requires]
python_version = "3.6"
